<!DOCTYPE html>
<html>
  <head>

    <title>{% block title %}{% trans %}Welcome{% endtrans %}{% endblock %} — Ligi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- link rel="shortcut icon" href="/favicon.png" / -->
    {% stylesheets
      "@LigiBundle/Resources/public/semantic-ui/dist/semantic.css"
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}    
    {% block css %}

    {% endblock %}

  </head>

  <body>
    <nav class="ui menu">
      <a class="item" href="{{ path('ligi_start') }}">
        {% trans %}Home{% endtrans %}
      </a>
      <div class="right menu">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
          <a class="ui item" href="{{ path('fos_user_profile_show') }}">{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}</a>
          <a class="ui item" href="{{ path('fos_user_security_logout') }}">
            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
          </a>
        {% else %}
          <a class="ui item" href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
        {% endif %}
      </div>
    </nav>
    <div class="ui basic segment">
      <div class="ui error message">
        {% trans %}At this stage please do not use this software for real. If you want to contribute check the <a href="https://github.com/datenknoten/ligi">Github page</a>.{% endtrans %}
      </div>
    </div>
    <main class="ui basic segment">
      {% for type, messages in app.session.flashBag.all %}
        {% for message in messages %}
          <div class="ui {{ type }} message">
            {{ message }}
          </div>
        {% endfor %}
      {% endfor %}

      {% block body %}{% endblock %}
    </main>
    {% javascripts
    "@LigiBundle/Resources/public/jquery/dist/jquery.js"
    "@LigiBundle/Resources/public/semantic-ui/dist/semantic.js"
    "@LigiBundle/Resources/public/js/main.js"
    "@LigiBundle/Resources/public/js/image_widget.js"
    %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}" type="text/javascript"></script>

    {% block javascripts %}{% endblock %}
  </body>
</html>
