<!DOCTYPE html>
<html>
  <head>

    <title>{% block title %}{% trans %}Welcome{% endtrans %}{% endblock %} — Ligi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- link rel="shortcut icon" href="/favicon.png" / -->
    {% stylesheets
      "@LigiBundle/Resources/public/semantic-ui/dist/semantic.css"
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}    
    {% block css %}

    {% endblock %}

  </head>

  <body>
    <nav class="ui menu">
      <a class="item" href="{{ path('ligi_start') }}">
        {% trans %}Home{% endtrans %}
      </a>
      <div class="right menu">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
          <a class="ui item" href="{{ path('fos_user_profile_show') }}">{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}</a>
          <a class="ui item" href="{{ path('fos_user_security_logout') }}">
            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
          </a>
        {% else %}
          <a class="ui item" href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
        {% endif %}
      </div>
    </nav>
    <main class="ui basic segment">
      {% block body %}{% endblock %}
    </main>
    {% javascripts
    "@LigiBundle/Resources/public/jquery/dist/jquery.js"
    "@LigiBundle/Resources/public/semantic-ui/dist/semantic.js"
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% block javascripts %}{% endblock %}
  </body>
</html>
