{{ form_start(form) }}

{{ form_errors(form) }}

{{ form_row(form.username) }}
{{ form_row(form.email) }}
{{ form_row(form.plainPassword) }}

<input class="ui blue button" type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" />
{{ form_end(form) }}



<!-- form class="ui form" action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" -->
    {# form(form) #}
    <!--div>
        
    </div>
</form -->
