{% if pageCount > 1 %}
<div class="ui pagination menu">
    {% if first is defined and current != first %}
      <a class="item" href="{{ path(route, query|merge({(pageParameterName): first})) }}">
        «
      </a>
    {% endif %}

    {% if previous is defined %}
      <a class="item" href="{{ path(route, query|merge({(pageParameterName): previous})) }}">
        ‹
      </a>
    {% endif %}

    {% for page in pagesInRange %}
        {% if page != current %}
          <a class="item" href="{{ path(route, query|merge({(pageParameterName): page})) }}">
            {{ page }}
          </a>
        {% else %}
          <a class="active item">
            {{ page }}
          </a>
        {% endif %}

    {% endfor %}

    {% if next is defined %}
      <a class="item" href="{{ path(route, query|merge({(pageParameterName): next})) }}">
        ›
      </a>
    {% endif %}

    {% if last is defined and current != last %}
      <a class="item" href="{{ path(route, query|merge({(pageParameterName): last})) }}">
        »
      </a>
    {% endif %}
</div>
{% endif %}
